.fade{      
opacity: 0;
animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
   to{
    opacity:1;
   } 
}

.fade1{      
   opacity: 0;
   animation: fadeIn 10s forwards;
   }
   
   @keyframes fadeIn {
      to{
       opacity:1;
      } 
   }

   .fade2{      
      opacity: 0;
      animation: fadeIn 15s forwards;
      }
      
      @keyframes fadeIn {
         to{
          opacity:1;
         } 
      }
      .fade3{      
         opacity: 0;
         animation: fadeIn 20s forwards;
         }
         
         @keyframes fadeIn {
            to{
             opacity:1;
            } 
         }

         .fade4{      
            opacity: 0;
            animation: fadeIn 25s forwards;
            }
            
            @keyframes fadeIn {
               to{
                opacity:1;
               } 
            }

            .fade5{      
               opacity: 0;
               animation: fadeIn 30s forwards;
               }
               
               @keyframes fadeIn {
                  to{
                   opacity:1;
                  } 
               }

               .fade6{      
                  opacity: 0;
                  animation: fadeIn 35s forwards;
                  }
                  
                  @keyframes fadeIn {
                     to{
                      opacity:1;
                     } 
                  }

                  .fade7{      
                     opacity: 0;
                     animation: fadeIn 40s forwards;
                     }
                     
                     @keyframes fadeIn {
                        to{
                         opacity:1;
                        } 
                     }

                     .fade8{      
                        opacity: 0;
                        animation: fadeIn 45s forwards;
                        }
                        
                        @keyframes fadeIn {
                           to{
                            opacity:1;
                           } 
                        }

                        .fade9{      
                           opacity: 0;
                           animation: fadeIn 50s forwards;
                           }
                           
                           @keyframes fadeIn {
                              to{
                               opacity:1;
                              } 
                           }